*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.aryan{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg,#6ac1c5, #bda5ff);
  position: absolute;
}
#calendar{
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}