body {
  background-color: rgb(249, 249, 98);
  width: 100%;
  overflow-x: hidden;
}


.pic1 {
    position: relative;
    left: 11rem;
    animation-name: pic1move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.events {
  background-color: rgb(248, 252, 248);
  position: relative;
  padding-top: 1px;
  margin-top: -218px;
  margin-left: -8px;
  margin-right: -10px;
}

.devtext {
  margin-left: 434px;
  font-family: "Montserrat", sans-serif;
  margin-right: 207px;
  font-size: 16px;
}

.webdevhead {
  margin-left: 429px;
}

hr {
  border-style: dashed;
  height: -5px;
  width: 5%;
  font-size: xx-large;
}

.myphoto {
  display: inline-block;
  width: 296px;
  margin-top: 10px;
  margin-left: 647px;
}

h2 {
  text-align: center;
  font-size: xx-large;
}

h3 {
  margin-left: 576px;
}

.webphoto {
  position: relative;
  left: 28px;
  float: left;
}

.gdsc {
  font-size: 20px;
  text-align: center;
  margin: 10px 314px auto 200px;
  font-family: "Montserrat", sans-serif;
}

div {
  display: inline-block;
}


@keyframes pic2move {
  0% {
    transform: translateX(30%);
    transform: rotate(170deg);
  }

  50% {
    transform: translateX(20%);
    transform: rotate(1500deg);
  }

  100% {
    transform: translateX(40%);
    transform: rotate(190deg);
  }

  50% {
    transform: translateX(-70%);
  }


  0% {
    transform: translateX(-10%);
  }
}






@keyframes pic1move {
  0% {
    transform: translateX(10%);
  }

  50% {
    transform: translateX(40%);
  }

  100% {
    transform: translateX(40%);
  }


  50% {
    transform: translateX(-70%);
  }

  0% {
    transform: translateX(-10%);
  }
}


.container-img {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

.uppertext1 {
    margin: auto;
    font-size: 200px;
    font-family: "Bangers", cursive;
    font-style: italic;
}

.gdsc {
    margin: auto;
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.home {
    height: 80vh;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.events{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 5vh;
}

.events h1{
    padding: 1vh;
    font-weight: bold;
    margin-bottom: 5vh;
}

.bitbox{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;    
}

.marktext{
    font-size: 1.1rem;
}

.days{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;    
}

.heading{
    color: #0f0f52;
}

.img img{
    height: 35vh;
}

.img1{
    right: 0px;
}

.img1 img{
    height: 35vh;
}

.contact{
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
}

.contact input{
    padding:5px;
    margin: 1vh;
}

.parts{
    display: flex;
    flex-direction: row;
    width: 200%;
}

.parts input{
    width: 40vw;
    padding:5px;
    margin: 1vh;
}

.parts textarea{
    padding:5px;
    width: 40vw;
    margin: 1vh
}


/* //for navbar */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a a:hover {
    text-decoration: none;
}

.logo a {
    text-decoration: none;
}

.logo a img {
    width: 45px;
    margin-right: 15px;
}

.back-nav {
    background-color: #222222;
    /* margin-bottom: 20vh; */
    width: 100%;
    height: 65px;
}

nav {
    margin: auto;
    /* width: 100%; */
    padding: 8px 20px;
    display: flex;
    align-items: center;
}

nav a {
    color: #ffffff;
}

nav a:hover {
    color: #7575a3
}

.logo {
    flex: 1;
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo a:hover {
    color: #ffffff;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li {
    padding: 15px 10px;
    font-size: 16px;
}

.menu li a {
    text-decoration: none;
    font-weight: bold;
}

.bottom-nav {
    font-size: 30px;
    display: none;
}

@media screen and (max-width: 600px) {
    nav {
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .menu {
        margin-top: 15px;
        display: none;
    }

    .menu.active,
    .bottom-nav {
        display: block;
    }

    .bottom-nav {
        position: absolute;
        top: 15px;
        right: 20px;
        transition: all .5s ease;
    }

.uppertext1 {
  font-family: "Bangers", cursive;
  font-style: italic;
  font-size: 200px;
  /* position: relative;
    top: 100px;
    left: 702px; */
  padding-left: 55rem;
  line-height: 0.5;
}

.uppertext2 {
  font-family: "Bangers", cursive;
  font-style: italic;
  font-size: 50px;
  position: absolute;
}

.event-row1 {
  background-color: rgb(105, 105, 255);
  margin-top: 36px;
  margin-bottom: 32px;
}

.event-row2 {
  background-color: rgb(255, 71, 20);
  margin-bottom: 130px;
  margin-left: 57px;
}

.markphoto {
  position: absolute;
  left: 1030px;
  float: left;
  margin-bottom: 260px;
  margin-left: 10px;
  width: 25rem;
}

.digimark {
  margin-left: 769px;
}

.marktext {
  margin-right: -7430px;
  margin-left: 0px;
  display: inline;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
}

.bttext1 {
  text-align: center;
}

.bttext2 {
  text-align: centre;
}

.bttext3 {
  text-align: center;
}

form {
  margin-left: 50px;
}

.footer-linkedin {
  width: 44px;
  margin-left: 438px;
  margin-right: 10px;
}

.footer-github {
  margin-left: 151px;
  width: 90px;
}

.copybox {
  width: 190%;
  position: relative;
  background-color: black;
}

.copyright {
  color: aqua;
  text-align: center;
}

.contact-me {
  position: static;
}

.text {
  margin-left: 207px;
}

.form_name {
  text-decoration: line-through;
  color: darkblue;
}

/* //for navbar */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
a a:hover {
  text-decoration: none;
}

.logo a {
  text-decoration: none;
}
.logo a img {
  width: 45px;
  margin-right: 15px;
}
nav {
  background-color: #222222;
  padding: 8px 20px;
  display: flex;
  align-items: center;
}
nav a {
  color: #ffffff;
}
nav a:hover {
  color: #7575a3;
}
.logo {
  flex: 1;
}
.logo a {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.logo a:hover {
  color: #ffffff;
}
.menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.d-flex {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 15px 10px;
}
.menu li {
  padding: 15px 10px;
  font-size: 16px;
}
.menu li a {
  text-decoration: none;
  font-weight: bold;
}
.bottom-nav {
  font-size: 30px;
  display: none;
}
#about {
  color: aqua;
}
#about:hover {
  color: white;
}
@media screen and (max-width: 600px) {
  nav {
    display: block;
    position: relative;
    padding: 15px 20px;
  }
  .menu {
    margin-top: 15px;
    display: none;
  }
  .menu.active,
  .bottom-nav {
    display: block;
  }
  .bottom-nav {
    position: absolute;
    top: 15px;
    right: 20px;
  }
}

/* for form */
/* body{
    color: white;
    font-family: 'Roboto', sans-serif;
    background: url(https://www.shutterstock.com/blog/wp-content/uploads/sites/5/2020/02/Usign-Gradients-Featured-Image.jpg);
    background-size: cover;
  } */
form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border-radius: 1em;
}
.card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 12px 56px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  position: absolute;
  padding: 20px;
  bottom: -26%;
  left: 33%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
  padding-right: 5px;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
  font: 1em sans-serif;
  padding: 10px;

  /* Uniform text field size */
  width: 300px;
  outline: none;
  box-sizing: border-box;

  /* Match form field borders */
  border: 2px solid white;
  border-radius: 5px;
  margin-left: 4px;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border: 1px none;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button:hover{
  cursor: pointer;
}

button {
  /* This extra margin represent roughly the same space as the space
       between the labels and their text fields */
  margin-left: 0em;
  padding: 20px;
  color: white;
  border: 1px none;
  font-size: 14px;
  background-color: #4169e1;
  border-radius: 20px;
}
.xy{
    margin: 20px;
    margin-left: 200px;
    margin-bottom: -90px;
}
}