body {
  background-color: rgb(249, 249, 98);
  width: 100%;
  overflow-x: hidden;
}
*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font:sans-serif;
}

.pic1 {
    left: 11rem;
    animation-name: pic1move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.events {
  background-color: rgb(248, 252, 248);
  padding-top: 1px;
  border-radius: 10px;
}

.devtext {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
}

.container{
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.myphoto {
  display: inline-block;
  width: 296px;
  margin-top: 10px;
  /* margin-left: 647px; */
}

h2 {
  text-align: center;
  font-size: xx-large;
}


.webphoto {
margin: 30px;
}

.gdsc {
  text-align: center;
  /* margin: 10px 314px auto 200px; */
  font-family: "Montserrat", sans-serif;
}
.gdsc-logo{
  width: 7em;
}


@keyframes pic2move {
  0% {
    transform: translateX(30%);
    transform: rotate(170deg);
  }

  50% {
    transform: translateX(20%);
    transform: rotate(1500deg);
  }

  100% {
    transform: translateX(40%);
    transform: rotate(190deg);
  }

  50% {
    transform: translateX(-70%);
  }


  0% {
    transform: translateX(-10%);
  }
}






@keyframes pic1move {
  0% {
    transform: translateX(10%);
  }

  50% {
    transform: translateX(40%);
  }

  100% {
    transform: translateX(40%);
  }


  50% {
    transform: translateX(-70%);
  }

  0% {
    transform: translateX(-10%);
  }
}


.container-img {
    display: flex;
    flex-direction: row;
    width: 80%;
}

.event-1{
  width: 75%;
  margin-left: 17em;
}
.event-2{
  width: 80%;
  margin-right: 15em;
}
.uppertext1 {
    margin: auto;
    font-size: 8em;
    font-family: "Bangers", cursive;
    font-style: italic;
}

.gdsc {
    margin: auto;
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.home {
    height: 80vh;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.events{
    display: flex;
    /* width: 80%; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh;
}


.bitbox{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;    
}

.marktext{
    font-size: 1.1rem;
    /* margin-left: 140px; */
}

.days{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;    
}

.heading{
    color: #0f0f52;
}

.markphoto{
  width: 20em;
}

.contact{
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 7vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact input{
    border-radius: 10px;
    border: 2px black solid;
    padding:5px;
    margin: 1vh;
}
.part{
  border-radius: 10px;
  border:2px solid black;
}

.parts{
    display: flex;
    flex-direction: row;
    width: 200%;
}

.d-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
}
.parts input{
    width: 40vw;
    padding:5px;
    margin: 1vh;
}

.parts textarea{
    padding:5px;
    width: 40vw;
    margin: 1vh;
    margin-bottom: 20px;
}

.submit-btn{
  padding: auto;
  padding-left: 1em;
  padding-right: 1em;
  width: auto;
  border:1px solid black;
  margin-bottom: 15px;
  font-weight: 500;
  border-radius: 8px;
  height: 2em;
}

.send-mssg-form{
  display: flex;
  flex-direction: column;
}


.bottom-container{
  display: flex;
  width:50%;
  align-items: center;
  justify-content: center;
}

h1{
  margin:15px;
}
/* //for navbar */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
  font-size: 25px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

a a:hover {
    text-decoration: none;
}

.logo a {
    text-decoration: none;
}

.logo a img {
    width: 45px;
    margin-right: 15px;
}

.back-nav {
    background-color: #222222;
    margin-bottom: 20vh;
}

nav {
    margin: auto;
    padding: 8px 20px;
    display: flex;
    background-color: #0f0f52;
    /* align-items: center; */
}

nav a {
    color: #ffffff;
}

nav a:hover {
    color: #7575a3
}

.logo {
    flex: 1;
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo a:hover {
    color: #ffffff;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li {
    padding: 15px 10px;
    font-size: 16px;
}

.menu li a {
    text-decoration: none;
    font-weight: bold;
}

.bottom-nav {
    font-size: 30px;
    display: none;
}

button {
  margin-left: 0em;
  padding: 20px;
  color: white;
  border: 1px none;
  display: flex;
  align-items: center;
  padding: auto;
  font-size: 14px;
  background-color: #4169e1;
  border-radius: 20px;
}
.d-flex > input{
  height: 3em;
  border-radius: 20px;
  padding: 10px;
  margin-left: 10px;
}
.d-flex>button{
  height: 1em;
  margin-left: 10px;
}
img{
  margin-right: 0;
}
@media screen and (max-width: 800px){
  .event-1{
    margin-left:0 ;
  }
  .event-2{
    margin-right: 0;
  }
  .webphoto{
    display: none;
  }
 .markphoto{
  display: none;
 }
 .d-flex{
  display: none;
}
}
@media screen and (max-width: 600px) {
    img{
      display: none;
    }

    .menu.active,
    .bottom-nav {
        display: block;
    }

    .bottom-nav {
        position: absolute;
        top: 15px;
        right: 20px;
    }
    

.uppertext1 {
  font-family: "Bangers", cursive;
  font-style: italic;
  font-size: 200px;
  padding-left: 55rem;
  line-height: 0.5;
}

.uppertext2 {
  font-family: "Bangers", cursive;
  font-style: italic;
  font-size: 50px;
  /* position: absolute; */
}

.marktext {
  display: inline;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
}

.bttext1 {
  text-align: center;
}

.bttext2 {
  text-align: centre;
}

.bttext3 {
  text-align: center;
}

.copybox {
  width: 190%;
  position: relative;
  background-color: black;
}

.copyright {
  color: aqua;
  text-align: center;
}

.form_name {
  text-decoration: line-through;
  color: darkblue;
}


.txt{
  height:10em;
  border: 5px;
  border-radius: 10px;
}

/* //for navbar */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
a a:hover {
  text-decoration: none;
}

.logo a {
  text-decoration: none;
}
.logo a img {
  width: 45px;
  /* margin-right: 15px; */
}
nav {
  background-color: #222222;
  padding: 8px 20px;
  display: flex;
  align-items: center;
}
nav a {
  color: #ffffff;
}
nav a:hover {
  color: #7575a3;
}
.logo {
  flex: 1;
}
.logo a {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.logo a:hover {
  color: #ffffff;
}
.menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.d-flex {
  display: none;
}
.menu li {
  padding: 15px 10px;
  font-size: 16px;
}
.menu li a {
  text-decoration: none;
  font-weight: bold;
}
.bottom-nav {
  font-size: 30px;
  display: none;
}
*{
  font-size: 1em;
}
#about {
  color: aqua;
}
#about:hover {
  color: white;
}
@media screen and (max-width: 600px) {
  .top-nav{
    display: none;
  }
  .menu {
    margin-top: 15px;
    display: none;
  }
  .menu.active,
  .bottom-nav {
    display: block;
  }
  .bottom-nav {
    position: absolute;
    top: 15px;
    right: 20px;
  }
}

form {
  width: 400px;
  padding: 1em;
  border-radius: 1em;
}
.card {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 12px 56px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 20px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
  font: 1em sans-serif;
  padding: 10px;

  /* Uniform text field size */
  width: 300px;
  outline: none;
  box-sizing: border-box;

  /* Match form field borders */
  border: 2px solid white;
  border-radius: 5px;
  margin-left: 4px;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border: 1px none;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button:hover{
  cursor: pointer;
}

/* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
button {
  margin-left: 0em;
  padding: 20px;
  color: white;
  border: 1px none;
  font-size: 1em;
  background-color: #4169e1;
  border-radius: 20px;
}
}