body {
    background-color: rgb(249, 249, 98);
    width: 100%;
    overflow-x: hidden;
}

.events {
    background-color: rgb(248, 252, 248);
    position: relative;
    padding-top: 1px;
    margin-top: -218px;
    margin-left: -8px;
    margin-right: -10px;
}

.devtext{
    margin-left: 434px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 207px;
    font-size: 16px;
}

.webdevhead{
    margin-left: 429px;

}

hr{
    border-style: dashed;
    height: -5px;
    width: 5%;
    font-size: xx-large;
}

.myphoto {
    display: inline-block;
    width: 296px;
    margin-top: 10px;
    margin-left: 647px;
}

h2 {
    text-align: center;
    font-size: xx-large;
}

h3 {
    margin-left: 576px;
}

.webphoto {
    position: relative;
    left: 28px;
    float: left;
}

.gdsc{
    font-size: 20px;
    text-align:center;
    margin: 10px 314px auto 200px;
    font-family: 'Montserrat', sans-serif;
}

div {
    display: inline-block;
}

.pic2 {
    position: relative;
    bottom: 320px;
    left: 1000px;
    animation-name: pic2move;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes pic2move{
    0%{
        transform: translateX(30%);
        transform: rotate(170deg);
    }

    50%{
        transform: translateX(20%);
        transform: rotate(1500deg);
    }

    100%{
        transform: translateX(40%);
        transform: rotate(190deg);
    }

    50%{
        transform: translateX(-70%);
    }

    0%{
        transform: translateX(-10%);
    }

}

.pic1 {
    position: relative;
    top: 7rem !important;
    left: 17rem !important;
    animation-name: pic1move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes pic1move {
    0%{
        transform: translateX(10%);
    }

    50%{
        transform: translateX(40%);
    }

    100%{
        transform: translateX(40%);
    }

    50%{
        transform: translateX(-70%);
    }

    0%{
        transform: translateX(-10%);
    }


}


.uppertext1 {
    font-family: 'Bangers', cursive;
    font-style: italic;
    font-size: 200px;
    /* position: relative;
    top: 100px;
    left: 702px; */
    padding-left: 55rem;
    line-height: 0.5;
}

.uppertext2 {
    font-family: 'Bangers', cursive;
    font-style: italic;
    font-size: 50px;
    position: absolute;
}

.event-row1{
    background-color: rgb(105, 105, 255);
    margin-top: 36px;
    margin-bottom: 32px;
}

.event-row2{
    background-color: rgb(255, 71, 20);
    margin-bottom: 130px;
    margin-left: 57px;
}

.markphoto{
    position: absolute;
    left: 1030px;
    float: left;
    margin-bottom: 260px;
    margin-left: 10px;
    width: 25rem;
}

.digimark{
    margin-left: 769px;
}

.marktext{
    margin-right: -7430px;
    margin-left: 0px;
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}


.bttext1{
    text-align: center;
   
}

.bttext2{
    text-align: centre;
}

.bttext3{
    text-align: center;
}

form{
    margin-left: 50px;
}

.footer-linkedin{
    width: 44px;
    margin-left: 438px;
    margin-right: 10px;
}

.footer-github{
    margin-left: 151px;
    width: 90px;
}

.copybox{
    width: 190%;
    position: relative;
    background-color: black;
}

.copyright{
    color: aqua;
    text-align: center;
}

.contact-me{
    position: static;
}

.text{
    margin-left: 207px;
}

.form_name{
    text-decoration: line-through;
    color: darkblue;

}

/* //for navbar */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Open Sans', sans-serif;
	font-family: 'Roboto', sans-serif;
}
a a:hover{
	text-decoration: none;
}

.logo a{
	text-decoration: none;
}
.logo a img{
	width: 45px;
	margin-right: 15px;
}
nav{
	background-color: #222222;
	padding: 8px 20px;
	display: flex;
	align-items: center;
}
nav a{
	color: #ffffff;
}
nav a:hover{
	color: #7575a3
}
.logo{
	flex: 1;
}
.logo a{
	display: flex;
	align-items: center;
	font-size: 20px;
}
.logo a:hover{
	color: #ffffff;
}
.menu{
	display: flex;
	align-items: center;
	list-style: none;
}
.menu li{
	padding: 15px 10px;
	font-size: 16px;
}
.menu li a{
	text-decoration: none;
	font-weight: bold;
}
.bottom-nav{
	font-size: 30px;
	display: none;
}
#about{
    color: aqua;
}
#about:hover{
    color: white;
    
    
}
@media screen and (max-width: 600px){
	nav{
		display: block;
		position: relative;
		padding: 15px 20px;
	}
	.menu{
		margin-top: 15px;
		display: none;
	}
	.menu.active, .bottom-nav{
		display: block;
	}
	.bottom-nav{
		position: absolute;
		top: 15px;
		right: 20px;
	}
}
